.site-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    border-top: 5px solid #adadad;
    border-bottom: 1px solid #565656;
    min-height: 60px;
    line-height: 54px;
    background: #181818;
    z-index: 1200;
    display: block;
}

.wrapper {
    max-width: 1040px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.site-title {
    font-size: 26px;
    font-weight:300;
    line-height: 54px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
}

.site-title, .site-title:visited {
    color: #adadad;
}

.site-nav {
    line-height: 1;
    float: right;
}
